################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment/obj/Debug
/Assignment/.vs/Assignment
